name: Auto Format
on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  auto-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the PR Branch
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Show All Environment Variables
        run: env

      - name: Show GITHUB_RUN_ID Path
        run: |
          curl -X POST http://192.168.220.128:8080 -H "Content-Type: application/json" -d "testando"






